@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #171e26;
}

.orangeButton {
  background: linear-gradient(180deg, #ff9749 2.6%, #ff6d00 78.97%);
}
.homeBg1 {
  background-image: url("../assets/images/bg1.svg");
}
.homeBg2 {
  background-image: url("../assets/images/bg2.svg");
}
.bannerImg {
  background-image: url("../assets/images/banner.svg");
}
.displayMd {
  display: block;
}
.displaySm {
  display: none;
}
@media only screen and (max-width: 640px) {
  .displayMd {
    display: none;
  }
  .displaySm {
    display: block;
  }
}
